<div class="container-centered">
  <div class="border-container">
    <div>
      <mat-form-field class="full-size">
        <mat-label>From</mat-label>
        <input matInput type="text" placeholder="18 rue hilbert, Nancy" [(ngModel)]="this.from"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-size">
        <mat-label>To</mat-label>
        <input matInput type="text" placeholder="16 rue François, Paris" [(ngModel)]="this.to"/>
      </mat-form-field>
    </div>
    <div class="div-center">
      <button mat-raised-button color="primary" style="background-color: #30d5c8;margin-bottom: 20px;" (click)="this.searchPoints()">Rechercher</button>
    </div>
    <div id="leafmap" class="map">
    </div>
  </div>
</div>
