body, html {
  background-color: #121212;
  color: #ffffff;
}

.container-centered {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  height: calc(100vh - 60px);
  overflow: auto;
}

.border-container {
  border: 0.2px solid #333;
  transition: 0.3s ease;
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #1f1f1f; 
  padding: 20px;
  overflow: hidden;
}

.border-container:hover {
  border: 1px solid #30d5c8;
  box-shadow: 0 0 8px #30d5c8;
  transition: 0.3s ease;
}

.full-size {
  width: 100%;
  margin-bottom: 20px;
}

.map {
  height: 600px;
  width: 100%;
}

.navbar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: #30d5c8;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #1f9e91;
}

@media (max-width: 768px) {
  .border-container {
    width: 90%; 
    max-height: calc(100vh - 60px);
  }
}

@media (max-width: 480px) {
  .border-container {
    width: 95%;
  }
}
