.border-container {
  border: 0.2px solid rgb(169, 160, 160);
  display: flex;
  flex-flow: column nowrap;
  min-width: 70%;
  min-height: 50%;
  padding: 5px;
}

.full-size {
  width: 100%;
  padding: 0 0 0 0;
}

.map {
  height: 512px;
  padding: 0;
}

